:root {
    color-scheme: dark;

    --light-gray: #595959;
    --medium-gray: #3c3c3c;
    --dark-gray: #1e1e1e;
}

/* Background */
.leaflet-container {
    background: #a3cdfe;
}

/* Zoom Control */
.leaflet-bar a {
    background-color: var(--medium-gray);
    color: #fff;
    font-weight: 500;
    border: 2px solid var(--dark-gray) !important;
}

.leaflet-touch .leaflet-bar a:first-child {
    margin-bottom: 5px;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none;
}

.leaflet-touch .leaflet-bar a {
    border-radius: 50% !important;
}

.leaflet-bar a:hover,
.leaflet-bar a:focus {
    background-color: var(--light-gray);
}

.leaflet-bar a.leaflet-disabled {
    background-color: var(--dark-gray);
    color: var(--light-gray);
}

.leaflet-touch .leaflet-bar a {
    width: 44px;
    height: 44px;
    line-height: 44px;
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
    font-size: 26px;
}

/* Layers Control */
.leaflet-top.leaflet-right .leaflet-control {
    background-color: var(--medium-gray);
    color: #fff;
    border: 2px solid var(--dark-gray) !important;
    border-radius: 50%;
}

.leaflet-control-layers-expanded {
    border-radius: 12px !important;
}

.leaflet-control-layers-separator {
    border-color: var(--dark-gray);
}

/* Popup */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: var(--medium-gray);
    color: #fff;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #fff;
}

.leaflet-container a.leaflet-popup-close-button:hover,
.leaflet-container a.leaflet-popup-close-button:focus {
    color: #fff;
}